/* * { border: 1px solid black !important;
}   */
body {
  background: beige;

}
header {
  /* background: pink; */
    text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  
}

h1 {
  margin: 20px;
  padding: 20px;
  
}

.oddDuck {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  margin: 1em auto;
}

#products {
  display: flex;
  gap: 2rem;
}

#products img {
  flex: 1;
  min-width: 0;
  border: 5px solid rgb(34, 125, 178);
  border-radius: 5px;
}


#renderChart {
  justify-content: center;
  display: flex;
  margin-top: 20px;
}


 
#chart {
  background-color:lightblue;
  color: black;
  border: 0;
  border-radius: 5px;
  padding: 1rem;
  font-size: 2rem;
  

}


#words {
  justify-content: center;
  background: lightpink;
  margin-top: 20px;
font-size: 20px;
 border: 2px solid #111;
  text-align: center;
  padding: 10px;
}

p {
  padding:10px;
}

  


button {
  grid-area: button;
  background: red;
  margin-top: 20px;
}



footer {
  font-size: 20px;
  text-align: center;
  /* background: orange; */
  padding: 20px;
  font-size: 20px;
  margin-top: 20px;
}
